<!DOCTYPE HTML>
<html>
  <head>
    <title>404 - Ауч!</title>
    <link rel="stylesheet" type="text/css" href="/static/awooch.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="http://<%= settings.config['hostname']%>/">
    <meta property="og:title" content="404">
    <meta property="og:description" content="Страница не найдена :(">
    <style>
      .redtext:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div id="sitecorner">
      <a href="/"><img src="/static/logo.png"></a>
      <div id="title" style="text-align: center;">404 - Not Found</div>
      <img src="/static/dorothycry.gif" alt="Dorothy">
      <div class="comment" style="text-align: center;">Может быть, вы хотите <span class="redtext" onClick="history.go(-1)">вернуться назад</span> ?</div>
    </div>
  </body>
</html>
